browser: str = "firefox"
url: str = "https://ppt.mfa.gov.cn/appo/index.html"
console_message: str = "GO RESERVE YOUR APPOINTMENT NOW https://ppt.mfa.gov.cn/appo/page/reservation.html"

mail: int = 1
smtp_user: str = "mymail@mymailhoster"
smtp_password: str = "the_smtp_password_HERE"
smtp_server: str = "smtp.gmail.com"
mail_title: str = "Chinese Passport renewal - 海外申请护照在线预约"
mail_recipient: str = "iwant_to_receive_mail@gmail.com"
mail_message: str = "GO RESERVE YOUR APPOINTMENT NOW https://ppt.mfa.gov.cn/appo/page/reservation.html"

record_number_huifu: str = "YOUR_PASSPORT_ID_HERE"
question_huifu: str = "您父亲的姓名？"
answer_huifu: str = "YOUR_ANSWER_HERE"
address: str = "法国不见面办理"
